<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Reloj_Windows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Reloj_Windows.Properties.Settings>
            <setting name="RecordarPos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AcoplarDonde" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Opacidad" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="vLeft" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="vTop" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="vWidth" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="vHeight" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SiempreEncima" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AcoplarMinimo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UsarComoSalvaPantalla" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AcoplarTransparente" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpacidadAcopleySalvaP" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="TamañoPequeño" serializeAs="String">
                <value>False</value>
            </setting>
        </Reloj_Windows.Properties.Settings>
    </userSettings>
</configuration>